
//
// VARIABLES
//

// Colors
$teal: #d5f6f8;
$brightTeal: #bff1f4;
$darkTeal: #187d84;
$darkerTeal: #082b2d;
$evenDarkerTeal: #041718;
$darkestTeal: #000202;
$lightTeal: #53d8e1;
$lighterTeal: #85e9dc;
$lightestTeal: #f8fefd;
$titleTeal: #edfcfa;
$headerBackgroundTeal: #cbf6f0;

$red: #e98592;
$darkRed: #e15a6b;
$darkerRed: #d92f44;
$evenDarkerRed: #ca2539;
$darkestRed: #b42133;

$green: #1c9a64;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #404040;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks

$openSans: 'Open Sans', Helvetica, sans-serif;
$hind: 'Hind', 'Helvetica Neue', sans-serif;
$code: 'Source Code Pro', monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

// Old font stacks that aren't in use
// $helvetica: Helvetica, Arial, sans-serif;
// $helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $georgia: Georgia, serif;
// $acumin: "acumin-pro";
// $droidSans: 'Droid Sans', sans-serif;
// $lato: 'Lato', sans-serif;
// $robotoSlab: 'Roboto Slab', sans-serif;
// $nunito: 'Nunito', sans-serif;
// $signikaNegative: 'Signika Negative', sans-serif;
// $signika: 'Signika', sans-serif;